<h1>All current users</h1>
<ul>
{% for user in all_users %}
<br>
<br>
        <li><b>User Name:</b> {{user.first_name}} {{user.last_name}}</li>
        <li><b>Profile Picture:</b> <br></li>
                <blockquote><img src="{{user.image_url}}" alt ="profile picture" height="200" width="200"></blockquote> 
                
                <form action="/edit_user_form/{{user.id}}">
                <button type="submit" >Edit</button>
                </form>                
                
                <form action="/delete_user/{{user.id}}" method="POST">
                <button type="submit">Delete</button>
                </form>
{% endfor %}
</ul>
<br>
<a href="/">Go to Home</a>